html, body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #fafafe;
}

/*typography*/

h1, h2, h3{
    text-align: center;
}

h1 {
    color: #8d9be2;
    margin: 0;
}

h1{
    font-size: 28px;
}

h2 {
    font-size: 16px;
    color: #5f5a93;
    margin: 0;
}

h3{
    margin: 25px;
    color: #8a4071;
}

/* layout */

header{
    background-color: #eaecfe;
}

.header-inner{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 370px;
    gap: 15px;
    padding: 10px 0 0 0;
}

.lily-img{
    width: 90px;
}

.controls-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0px auto;
}

/* controls */

.emotion-radios{
    display: flex;
    flex-direction: column;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
}

.radio{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bcbcbc;
    padding: 4px 8px;
}

.radio:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.radio:last-child{
    border-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

label{
    font-size: 14px;
    padding: 3px;
    width: 100%;
    cursor: pointer;
}

.highlight{
    background-color: #f0f2ff;
    color: #5f5a93;
    font-weight: bold;
    accent-color: #5f5a93;
}

input[type="radio"]{
    cursor: pointer;
}

.gifs-check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.gifs-check-label{
    width: unset;
    margin-right: 5px;
    color: #f95680;
    font-weight: bold;
}

.get-image-btn{
    background-color: #f95680;
    color: #FFFFFF;
    padding: 15px 19px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: pointer;
}

.get-image-btn:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #f95680;
}

/* modal */

.meme-modal{
    display: none; /*flex when displayed*/
    position: fixed;
    margin: auto;
    top: 80px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid #635e95;
    border-radius: 5px;
    width: 420px;
    height: 490px;
    background-color: #f3f4fe;
}

.cat-img{
    max-width: 340px;
    max-height: 420px;
    border-radius: 5px;
}

.meme-modal-close-btn{
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
}

.meme-modal-close-btn:hover{
    color: white;
    background-color: #635e95;
    border: 2px solid #635e95;
}

.meme-modal-add-to-favorite-button{
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    border-radius: 10px;
    padding: 2px 6px;
    font-size: 14px;
    cursor: pointer;
}

.meme-modal-add-to-favorite-button:hover{
    color: white;
    background-color: #635e95;;
    border: 2px solid #635e95;;
}

.meme-modal-favorite-message{
    position: absolute;
    top: 7px;
    left: 30%;
    color: #ff0000;
    border-radius: 10px;
    padding: 2px 6px;
    font-size: 14px;
    margin: 0;
    font-weight: lighter;
    width: 200px;
    display: none;
}

.meme-modal-favorites {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.favorite-memes{
    font-size: 20px;
    color: #8a4071;
}

.clear-all-favorites-btn{
    background-color: #f95680;
    color: #FFFFFF;
    padding: 15px 19px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 200px;
}

.clear-all-favorites-btn:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #f95680;
}

.get-image-btn, .clear-all-favorites-btn{
    margin-bottom: 8px;
}


/* for screens smaller than 768px */
@media (max-width: 767px) {

    .header-inner {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .meme-modal {
        width: 300px;
        height: 350px;
    }

    .cat-img {
        width: 250px;
        height: 280px;
        border-radius: 5px;
    }

    .meme-modal-close-btn,
    .meme-modal-add-to-favorite-button {
        font-size: 12px;
        padding: 1px 4px;
    }

    .meme-modal-favorite-message {
        font-size: 12px;
        display: none;
        width: 160px;
        left: 35%;
        top: 1%;
    }
}
